/* Globales */
html {
  font-size: 62.5%;
  box-sizing: border-box; /* Hack para Box Model **/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
   /* 1rem = 10px */
} 
/* Utilidades */
.contenedor {
  width: min(90%, 140rem);
  margin: 0 auto;
}

.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* .bg-color{
  background-image: url('/condominiosHome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */

