:root{
    --verdeLogo: #14cb94;
    --fondoNav: #1c1c1c;
    --textoNav: #45f3ff;;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--fondoNav);
    padding: 25px;
}

#navbar{
    width:  500px;
    text-align: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 10px;
    justify-content: space-around;
}

#navbar li{
    color: rgb(216, 216, 216);
    font-size: 18px;
    cursor: pointer;
    padding: 13px 5px 13px 5px;
}

#navbar li:hover{
    text-decoration: none;
    color: var(--textoNav);
}